<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <nav>
        <div class="logo">
            Moneylisa
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <main>
        <h1>Hello, Welcome to Moneylisa</h1>
        <a href="/login"><button>Register here ...</button></a>
    </main>
    <footer>
        <p>&copy; 2024 Moneylisa. All rights reserved.</p>
    </footer>
</body>
</html>
